* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html, body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 
 .main {
   display: flex;
   border: 2px solid black;
   width: 324px;
   height: 324px;
 }
 

 
 .white, .black {
   width: 40px;
   height: 40px;
 }
 
 .white {
   background-color: white;
 }
 
 .black {
   background-color: black;
 }
 